.container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 20px);
  gap: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  border: none;
}

.text {
  color: #ffffff;
  text-transform: uppercase;
}

.textBlack {
  color: #000;
}

p { 
  color: gray;
}
