.button {
  height: 50px;
  flex: 1;
  border: .5px solid #DFE5EC;
  background-color: #FFFFFF;
  color: #4A4A4A;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-family: sans-serif;
  cursor: pointer;
}

.button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button.active {
  color: #FFFFFF;
  background-color: #2196F3;
  border: .5px solid black;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
}
